# files
*.bak
*.swp
.DS_Store
coverage.lcov

# folders
.nyc_output
.tmp
node_modules
npm-debug.log

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarn/install-state.gz
.yarn/unplugged

